*.DS_Store
*.opensdf
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo

proj3files/B+\ Tree/lib
proj3files/Debug

proj4files/ExtSort/lib
proj4files/ExtSort/Debug

proj5files/Transactions/Debug
proj5files/Transactions/lib
proj5files/Debug
